In [98]:
import requests,time
import mechanize, lxml
from bs4 import BeautifulSoup
import pandas as pd

In [99]:
br = mechanize.Browser()
br.open('http://safetydata.fra.dot.gov/officeofsafety/publicsite/summary.aspx')
response = br.response()
def select_form(form):
	return form.attrs.get('action',None)== './summary.aspx'

br.select_form(predicate=select_form)
br.form['ctl00$ContentPlaceHolder1$DropDownYear']=['2017']
br.form['ctl00$ContentPlaceHolder1$ListBoxStats']=['r14']
br.submit()
chart = br.response().read()

In [100]:
table = pd.read_html(chart)[1]

In [101]:
fatal = table.iloc[:, 0:5]

In [102]:
soup = BeautifulSoup(chart,'lxml').findAll('table')
item = soup[1]

In [103]:
years = item.find_all('th',{'class':'c header','scope':'col'})[:4]

In [104]:
years

[<th class="c header" scope="col">2014</th>,
 <th class="c header" scope="col">2015</th>,
 <th class="c header" scope="col">2016</th>,
 <th class="c header" scope="col">2017</th>]

In [105]:
year_header = [year.get_text() for year in years]

In [106]:
header = ['State']+year_header

In [107]:
header

['State', u'2014', u'2015', u'2016', u'2017']

In [108]:
fatal.columns=header

In [109]:
fatal

               State 2014 2015 2016 2017
0            Alabama    4    9    3   12
1             Alaska    .    .    1    1
2            Arizona    5    7   10    9
3           Arkansas    5    3    3    3
4         California   73   72   77  112
5           Colorado    5    4    6    6
6        Connecticut    4    2    4    4
7           Delaware    .    2    1    2
8   Dist Of Columbia    .    1    1    4
9            Florida   22   27   22   35
10           Georgia   16   13   17   15
11             Idaho    .    1    .    1
12          Illinois   21   11   16   19
13           Indiana    7   10    8    9
14              Iowa    1    2    5    5
15            Kansas    6    5    5    7
16          Kentucky    8   10   11    7
17         Louisiana    7    5    6    5
18             Maine    3    .    .    .
19          Maryland    9    9   14   11
20     Massachusetts    7    4    9   16
21          Michigan    1    2    6   12
22         Minnesota    4    1    4    2
23       Mississippi    6    3    1    7
24          Missouri    7    6    4    9
25           Montana    2    .    2    2
26          Nebraska    1    .    3    1
27            Nevada    6    2    2    2
28     New Hampshire    2    .    .    .
29        New Jersey   11   15    9   21
30        New Mexico    5    3    2    1
31          New York   17   16   19   18
32    North Carolina   16   11   17   16
33      North Dakota    2    .    .    2
34              Ohio   11   13   11   17
35          Oklahoma    5    6    2    6
36            Oregon    8    4    5    2
37      Pennsylvania   21   18   18   25
38      Rhode Island    .    .    1    1
39    South Carolina    5    5    4    6
40      South Dakota    .    .    .    .
41         Tennessee    7   13    6    7
42             Texas   31   21   29   34
43              Utah    1    .    .    2
44           Vermont    1    3    1    .
45          Virginia    7   10   10   10
46        Washington    7   13    6   19
47     West Virginia    6    2    3    7
48         Wisconsin    4    7    1    1
49           Wyoming    2    1    1    1
50               Tot  399  372  386  514