https://www.uscis.gov/tools/reports-studies/immigration-forms-data/data-set-form-i-485-application-adjustment-status

In [1]:
import os, time, re
import collections
import pandas as pd
import numpy as np

In [2]:
input_dir = os.path.join(os.getcwd(),'input')

In [3]:
os.path.exists(input_dir) or os.mkdir(input_dir)

True

In [4]:
pd.set_option('display.max_columns', 500)

In [5]:
ex = pd.read_csv(os.path.join(input_dir,'fy2018_qtr1.csv'))

In [6]:
# drop columns between location (first 3 columns) and total numbers (last four colums)
ex1 = ex.iloc[:,0:3].join(ex.iloc[:,-4:])

In [7]:
def clean_up(df):
    """
    Sets clean columns and deletes unwanted rows
    """
    #set dict of clean columns
    clean_columns = collections.OrderedDict((
        (df.columns[0], 'state'),
        (df.columns[1], 'city'),
        (df.columns[2], 'office_code'), 
        (df.columns[3], 'app_received'),
        (df.columns[4], 'app_approved'),
        (df.columns[5], 'app_denied'),
        (df.columns[6], 'app_pending'),
    ))
    
    #apply it to columns 
    df.rename(columns=clean_columns,inplace=True)
    
    #drop first rows that we are not using 
    df.drop([0], inplace=True)
    
    #drop rows that repeat the lable (first of second and third pages)
    df.dropna(subset=['state','city','office_code'], how='all', inplace=True)
    
    #fill out the state column
    df.loc[:,'state'].fillna(method='ffill', inplace=True)
    
    #strip white spaces 
    df = df.apply(lambda x: x.str.strip())
    
    #fill out all the empty strings
    df.replace('', np.nan, inplace=True)
    
    #drop where last four columns are null
    df.dropna(subset=['app_received','app_approved','app_denied','app_pending'], how='all', inplace=True)
    
    
    return df

In [8]:
ex2 = clean_up(ex1)

In [9]:
ex2

,state,city,office_code,app_received,app_approved,app_denied,app_pending
4,Total,NaN,NaN,"180,562","142,782","12,052","650,479"
8,Alabama,Montgomery,MGA,664,225,31,"2,950"
10,Alaska,Anchorage,ANC,111,99,17,319
12,Arizona,Phoenix,PHO,"1,447",888,131,"5,866"
13,Arizona,Tucson,TUC,409,731,33,"1,250"
15,Arkansas,Fort Smith,FSA,169,345,25,661
17,California,Chula Vista,CVC,-,-,-,-
18,California,Fresno,FRE,902,814,88,"3,090"
19,California,Imperial,IMP,83,123,D,249
20,California,Los Angeles,LOS,"2,318","2,022",167,"7,677"
21,California,Los Angeles County,LAC,"2,096","1,546",313,"9,401"
22,California,Sacramento,SAC,988,862,75,"3,683"
23,California,San Bernardino,SBD,"1,930","1,874",228,"5,350"
24,California,San Diego,SND,"1,393","2,285",155,"4,096"
25,California,San Fernando Valley,SFV,"1,462","1,073",152,"6,193"
26,California,San Francisco,SFR,"2,287","1,860",110,"11,322"
27,California,San Jose,SNJ,"1,283","1,479",101,"6,368"
28,California,Santa Ana,SAA,"1,674","1,126",184,"7,535"
30,Colorado,Denver,DEN,"1,314",618,143,"6,100"
32,Connecticut,Hartford,HAR,"1,028",489,150,"3,816"
34,Delaware,Dover,DVD,-,-,-,-
36,District of Columbia,Washington,WAS,"1,577","1,429",213,"7,847"
38,Florida,Hialeah,HIA,"4,208","2,684",143,"13,384"
39,Florida,Jacksonville,JAC,654,813,66,"2,204"
40,Florida,Kendall,KND,"4,556","2,139",154,"12,945"
41,Florida,Miami,MIA,"3,536","1,883",177,"15,126"
42,Florida,Fort Myers,OFM,"1,281",597,49,"4,612"
43,Florida,Oakland Park,OKL,"1,907","1,048",194,"10,338"
44,Florida,Orlando,ORL,"1,971","1,580",196,"8,086"
45,Florida,Tampa,TAM,"2,573","2,840",230,"7,938"
...,...,...,...,...,...,...,...
114,Oregon,Portland,POO,857,963,63,"2,548"
116,Pennsylvania,Philadelphia,PHI,"1,821","1,238",219,"7,272"
117,Pennsylvania,Pittsburgh,PIT,345,381,19,"1,079"
119,Rhode Island,Providence,PRO,313,610,58,"1,002"
121,South Carolina,Charleston,CHL,376,575,52,"1,102"
122,South Carolina,Greer,GRR,213,218,D,595
128,Tennessee,Memphis,MEM,892,831,68,"3,555"
130,Texas,Dallas,DAL,"3,645","2,972",312,"17,286"
131,Texas,El Paso,ELP,904,"1,241",137,"2,965"
132,Texas,Harlingen,HLG,711,598,73,"3,307"
133,Texas,Houston,HOU,"5,025","4,346",379,"24,927"
134,Texas,San Antonio,SNA,"2,343","1,883",119,"9,277"
136,Utah,Salt Lake City,SLC,758,423,53,"2,889"
138,Vermont,St. Albans,STA,63,167,16,219
140,Virginia,Norfolk,NOR,544,644,60,"2,091"
142,Washington,Seattle,SEA,"1,307","1,052",107,"6,642"
143,Washington,Spokane,SPO,96,107,20,306
144,Washington,Yakima,YAK,179,244,25,539
146,West Virginia,Charleston,CHS,-,-,-,-
148,Wisconsin,Milwaukee,MIL,493,515,50,"1,939"
150,Guam,Agana,AGA,172,143,12,492
152,U.S. Virgin Islands,Charlotte Amalie,CHA,16,-,-,418
153,U.S. Virgin Islands,Christiansted,CHR,D,-,D,56
155,Puerto Rico,San Juan,SAJ,142,177,13,709
157,Service Center,California,WSC,"1,146",368,16,"2,554"
158,Service Center,National Benefits Center,NBC,-,-,-,-
159,Service Center,Nebraska,NSC,"47,801","35,916","1,475","126,076"
160,Service Center,Potomac,YSC,-,-,-,-
161,Service Center,Texas,SSC,"17,654","13,528",799,"64,041"
162,Service Center,Vermont,ESC,"10,087","3,670",547,"29,225"